.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 479px) {
  .section {
    max-width: none;
    margin-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .section {
    padding-right: 70px;
    padding-left: 50px;
  }
}

.image {
  margin-top: 6px;
  margin-left: 40px;
  max-width: 30%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 10px;
  border: 0;
}

@media screen and (max-width: 479px) {
  .image {
    margin: 0px auto 40px 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

@media screen and (max-width: 767px) {
  .image {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 991px) {
  .image {
    margin-left: 0px;
  }
}

.text {
  margin-left: 90px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@media screen and (max-width: 991px) {
  .text {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .text {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

.text1 {
  max-width: 520px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}
