html {
  font-family: Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 8px;
  display: block;
}

a {
  /* color: transparent; */
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
